<footer class="site-footer">
  <div class="container">
    <a class="u-email" href="mailto:{{ site.company_url }}">{{ site.company }}</a>
    <span class="feed-subscribe">
      <svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg>
      <a href="{{ "/feed.xml" | relative_url }}">Subscribe</a>
    </span>
    <span class="created-with">
      Created with <a href="https://github.com/statuspal/static-changelog">Static Changelog</a>
    </span>
  </div>
</footer>
