<header class="site-header" role="banner">
  <div class="container">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <div class="logo-img-container">
        <img src="{{ "/assets/logo.png" | relative_url }}" alt="Logo">
      </div>
      <div class="site-title-text">
        <span class="company-name">{{ site.company | escape }}</span>
        <span class="changelog">Changelog</span>
      </div>
    </a>
    <div class="back-link">
      Back to <a class="u-email" href="mailto:{{ site.company_url }}">{{ site.company }}</a>
    </div>
  </div>
</header>
