---
layout: default
---
<article class="entry" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="dot"></div>
  {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
  <header class="entry-header">
    <h1 class="entry-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="entry-meta">
      <div class="entry-meta">
        <a href="{{ page.url | relative_url }}">
          <div class="entry-date">{{ page.date | date: date_format }}</div>
          <div class="entry-version">v{{ page.version }}</div>
        </a>
      </div>

      <div class="entry-tags">
        <span class="entry-category entry-category-{{ page.category }}">{{ page.category }}</span>
      </div>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author | escape }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="entry-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  <div class="last-dot">
    <a href="{{ "/" | relative_url }}">See More</a>
  </div>
</article>
