---
layout: default
---

<div class="home">

  {{ content }}

  {% if site.entries.size > 0 %}
  {% assign items = site.entries | sort: 'date' %}
    <div class="entry-list">
      {% for post in items reversed %}
      <div class="entry">
        <div class="dot"></div>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <h3><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>

        <div class="entry-meta">
          <a href="{{ post.url | relative_url }}">
            <div class="entry-date">{{ post.date | date: date_format }}</div>
            <div class="entry-version">v{{ post.version }}</div>
          </a>
        </div>

        <div class="entry-tags">
          <span class="entry-category entry-category-{{ post.category }}">{{ post.category }}</span>
        </div>

        <div class="entry-content">
          {{ post.content }}
          <div style="clear:both"></div>
        </div>

        <div class="last-dot"></div>
      </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
